.header-container {
  background-color: transparent;
  width: 100%;
  display: flex;
  justify-content: center;
}

.inner-header {
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding: 1.5rem 2rem;
}
