.header-container {
  /* position: absolute; */
  background-color: transparent;
  width: 100%;
  display: flex;
  justify-content: center;
  top: 0;
}
.header-container-black {
  /* position: absolute; */
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: center;
  top: 0;
}

.inner-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 1.5rem 2rem;
}

nav {
  display: flex;
  font-family: "SF-Regular";
  gap: 2rem;
}

.link {
  cursor: pointer;
  text-decoration: none;
  font-family: "SF-Regular";
  color: white;
  font-size: 1.3rem;
}
