.full-video-container {
  background-color: transparent;
  height: 88vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-video {
  width: 90vw;
  height: auto;
  padding-bottom: 10rem;
}
