.sidebar-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 80%;
  height: 100%;
  background-color: white;
  z-index: 2;
}

.close-icon {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.links-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  position: absolute;
  left: 2.5rem;
  text-decoration: none;
  list-style: none;
  margin-top: 6rem;
}

.links-container li {
  font-family: "SF-Regular";
  font-size: 1.7rem;
}
