* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: SF-Bold;
  src: url("/src/assets/fonts/SF-Pro-Rounded-Bold.otf ");
}

@font-face {
  font-family: SF-Regular;
  src: url("/src/assets/fonts/SF-Pro-Rounded-Regular.otf ");
}

@font-face {
  font-family: HV-Med;
  src: url("/src/assets/fonts/Helvetica-Medium.otf");
}

.App {
  text-align: center;
}
